* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#container {
    width: 90vh;
    height: 90vh;
    margin: 5vh auto;
    border: 3px solid #00000077;
}

.hovered {
    background-color: black;
}
